@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arizonia&family=Dancing+Script:wght@700&family=Inconsolata:wght@200;800&family=Jost:ital,wght@1,300&family=Lato:wght@300;400&family=Victor+Mono:ital,wght@0,100;0,300;1,200&display=swap');
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Victor Mono', monospace; */
 /* #482E1D coffee #A3966A leafy #F0DAAE sand */

 @import url('https://fonts.cdnfonts.com/css/montauk');


@import url('https://fonts.cdnfonts.com/css/winterbean');
 /*font-family: 'Winterbean', sans-serif */              
 
 @import url('https://fonts.cdnfonts.com/css/lonely-heart');
 /* font-family: 'Lonely Heart', sans-serif;*/

 @import url('https://fonts.cdnfonts.com/css/kohta');

 /* font-family: 'Majesty', sans-serif; */


 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

 body{
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.393)), url(body.jpg);
   color:rgb(183, 184, 179);
   font-family: 'Jost', sans-serif;
 }

.bienvenida{
   width: 100vw;
   height: 85vh;
   display: flex;
   flex-direction: column;
   background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.932), #000000be);
 }

.iconos{
   height: 8%;
   display: flex;
   justify-content: space-between;
 }

 .iconos img{
   height: 100%;
   width: 5%;
 }

.portada{
   height: 92%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0.645), rgb(15, 15, 15)), url(https://media.giphy.com/media/3o6nV2ErFXV5uUwql2/giphy.gif);
   background-size: cover;
 }

.marca{
   height: 40%;
}

.portada-img {
   height: 50%;
   width: 70%;
   display: flex;
}

.noticias{
   height: 15vh;
   display: flex;
}

.noticias div{
   height: 100%;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Victor Mono', monospace;
   font-size: small;
}

.noticias div p{
   padding: .5rem;
   border: .01rem solid white;
}

.dia{
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.804));
   background-size: contain;
}

.especial{
   background-image:linear-gradient(to top, rgba(159, 14, 14, 0.082), rgba(0, 0, 0, 0.804));
   background-size: contain;
} 

.menu-bebidas{
   margin-top: 4%;
   background-color: black;
   height: 90vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 1rem;
}

.menu{
   width: 90%;
   height: 10%;
   display: flex;
   justify-content: center;
}

.menu h2{
   font-family: 'Kohta', sans-serif;
   font-size: xx-large;
}

.bebidas{
   background-color: black;
   height: 70%;
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}

.bebidas div{             
   text-align: center;
   height: 5rem; /*516px*/
   width: 7rem;
}

.bebidas div img{
   height: 100%;
}

.metodos{
   margin: 7%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 50vh;
   background-color: rgba(0, 0, 0, 0.712);
}

.metodos-titulo{
   height: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: large;
   gap: 9%;
}
                

.metodos-titulo h3{
   font-size: 1.5rem;
   color: rgb(183, 184, 179);
}

.metodos-titulo h4{  
   font-family: 'Lonely Heart', sans-serif;              font-size: 2rem;
   background-color: rgb(99, 81, 55);
   color: rgb(0, 0, 0);
}

.metodos-fotos{
   display: flex;
   justify-content: center;
   height: 60%;
   align-items: center;
}

.metodos-fotos div{
   height: 6rem;
   width: 4rem;
   display:flex;
   flex-direction:column;
   flex-grow: 1;  
   text-align: center;
}

.metodos-fotos div img{
   height: 100%;
   width: 100%;
}

.metodos-fotos div img{
   height: 90%;
}

.extras{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 60vh;
}

.extras div{
   background-color: rgba(0, 0, 0, 0.674);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10rem;
   height: 10rem;
}

.extras div p{
   background-color: rgba(0, 0, 0, 0.674);
   padding: 4%;
}

.titulo{
   background-color: #0000004f;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;
}

.titulo h2{
   font-family: 'Lonely Heart', sans-serif; 
   font-size: 2.5rem;
}

.granel{
   background-image: url(granel.jpg);
   background-size: contain;
}

.reposteria{
   background-image: url(reposteria.jpg);
   background-size: contain;
}

.barismo{
   background-image: url(barismo.jpg);
   background-size: cover;
}


.contacto{
   margin: 12% 0;
   width: 100%;
   height: 50vh;
   display: flex;
   flex-direction: row;
   background-color: black;
}

.mapa{
   width: 60%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.mapa iframe{
   width: 70%;
   height: 70%;
   border-radius: 10%;
}


.iconos-contacto{
   width: 40%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: .6rem;
}

.iconos-contacto h2{
   color: rgb(171, 167, 167);
}

.iconos-contacto img{
   margin: 1rem;
   border: .3rem solid;
   border-radius: 100%;
   height: 3rem;
   width: 3rem;
}


@media only screen and (max-width: 320px){

   body{
      display: none;
   }
}

@media only screen and (min-width: 510px){

   .bebidas div{             
      height: 7rem; /*516px*/
      width: 9rem;
   }

   .metodos-fotos{
      width: 70%;
   }

   .extras{
      width: 100vw;
      height: 40vh;
      align-items: start;
   }

   .extras div{
      flex-grow: 1;
      width: 23%;
   }

   .iconos-contacto{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
   }

   .iconos-contacto h2{
      align-self: center;

   }
}


